{
    "env": {
      "es6": true
    },
    "rules": {
        "arrow-body-style":"error",
        "no-var": "error",
        "no-use-before-define": "error",
        "line-comment-position": "warn",
        "semi": "error",
        "indent": "error",
        "no-multi-spaces": "error",
        "space-in-parens": "error",
        "no-multiple-empty-lines": "error",
        "prefer-const": "error"
  }
}
